body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Georgia", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  background-color: #1a1a1a;
}

a {
  color: #ff3385;

  text-decoration: none;
}

h1 {
	color: #eeccff;
  padding: 20px 0px 10px 0px;
}

h2 {
	color: #ff3385;
	padding: 20px 0px 10px 0px;
	font-family: "Arial";
}

h3 {
	color: yellow;
	padding: 20px 0px 10px 0px;
}

h4 {
	color: #cc99ff;
	padding: 20px 0px 10px 0px;
}
